@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {
    --header-height: 3rem;
    --font-semi: 600
}

:root {
    --first-color: #4070f4;
    --second-color: #0e2431
}

:root {
    --body-font: "Poppins", sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem
}

@media screen and (min-width:768px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem
    }
}

:root {
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem
}

:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100
}

*,
::after,
::before {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color)
}

h1,
h2,
p {
    margin: 0
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

a {
    text-decoration: none
}

img {
    max-width: 100%;
    height: auto;
    display: block
}

.section-title {
    position: relative;
    font-size: 1rem;
    margin-top: 1%;
    color: rgb(84, 115, 182);
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 80px;
    height: .18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 1.7rem;
    background-color: var(--first-color);
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem
}

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
    padding: 10px
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    /* background: linear-gradient(to right, #e0eafc, #cfdef3);
    box-shadow: 0 1px 4px rgba(146, 161, 176, .15) */
    margin-top: 20px;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi)
}

@media screen and (max-width:768px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
    font-weight:700;
}

.nav__link {
    position: relative;
    color: #fff
}

.nav__link:hover {
    position: relative
}

.nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color)
}

.nav__logo {
    color: var(--second-color)
}

.nav__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer
}

.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: .18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color)
}

.show {
    right: 0
}

.home__social {
    display: flex;
    flex-direction: column
}

.home__social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 2rem;
    color: var(--second-color)
}

.home__social-icon-hover {
    color: var(--first-color)
}

.work {
    text-align: center;
    margin-top: 40px;
}

.work__container {
    row-gap: 2rem;
    background: #faffff;
    border-radius: 2rem;
}

.work__img {
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, .5);
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    display: none;
    /* new added */
    
}

.work__img img {
    transition: 1s;
    cursor: pointer
}

.work__img img:hover {
    transform: scale(1.1);
    opacity: 0.5;
}

.footer {
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0
}

.footer__title {
    font-size: 2rem;
    margin-bottom: var(--mb-4)
}

.footer__social {
    margin-bottom: var(--mb-4)
}

.footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2)
}

@media screen and (min-width:768px) {
    body {
        margin: 0
    }
    .section {
        padding-top: 4rem;
        padding-bottom: 3rem
    }
    .section-title {
        margin-bottom: 25px;
    }
    .section-title::after {
        width: 80px;
        top: 2rem
    }
    .nav {
        height: calc(var(--header-height) + .4rem)
    }
    .nav__list {
        display: flex;
        padding-top: 0
    }
    .nav__item {
        margin-left: var(--mb-6);
        margin-bottom: 0
    }
    .nav__toggle {
        display: none
    }
    .nav__link {
        color: var(--second-color)
    }
    .work__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem
    }
}

@media screen and (min-width:1024px) {
    .bd-grid {
        margin-right: auto;
        margin-left: auto
    }
}

.footer__icon:hover {
    background: linear-gradient(to left, #1f1c2c, #928dab);
    border-radius: 2px
}

.home__social-icon:hover {
    background: linear-gradient(to left, #e0eafc, #cfdef3);
    border-radius: 20px
}

.bx:hover {
    transform: rotate(180deg);
    transition: transform .5s linear
}

.fab:hover {
    transform: rotate(180deg);
    transition: transform .5s linear
}

.nav__logo_div:hover {
    transform: rotate(180deg);
    transition: transform .5s linear
}

body::-webkit-scrollbar {
    width: 12px
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 1px 2px #93b2f5;
    border-radius: 3px
}

::-webkit-scrollbar-thumb {
    background: #8ebdfa;
    border-radius: 6px
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #c2d1eb, #a9c5ec)
}

/* show details of card image */
.work__img .details {
    width: 80%;
    height: 60%;
    padding: 5% 8%;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(90deg);
    transform-origin: 50%;
    opacity: 0;
    transition: all 0.4s ease-in;
    border-radius: 1rem;
    background:rgb(67, 116, 249);
    margin: 10px;
    color: rgb(245, 243, 243);
    box-shadow: rgb(110, 155, 234, 0.4)  -10px 10px;
  }
  .details{
      color: white;
  }
  .details h1{
      text-decoration: underline rgb(110, 202, 255);
  }
  .details_text{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 700;
  }
  .work__img:hover .details {
    transform: translate(-50%, -50%) rotateY(0deg);
    opacity: 0.9;
  }
  
  /* filter */
  /* Style the buttons */
.btn {
border: none;
border-radius: 0.5rem;
outline: none;
padding: 10px 15px;
margin-top: 6px; 
background-color: rgb(227, 238, 238);
cursor: pointer;
box-shadow: 0 1px 4px rgba(15, 132, 248, 0.15)
}

.btn:hover {
background-color: #ddd;
}

.btn.active1 {
background-color: #666;
color: white;
}
.show1 {
display: block;
}

/* new1 */
.work__img {
    position: relative;
  }
  

  /* nav button */
  .button-navbar-btn {
    display: inline-block;
    border-radius: 10rem;
  padding: 5px;
  background-color: #4070f4;
  color: #fff;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.button-navbar-btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0cf;
    border-radius: 10rem;
    z-index: -2;
}
.button-navbar-btn:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #0cf;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}
.button-navbar-btn:hover {
    color: #fff;
}
.button-navbar-btn:hover:before {
    width: 100%;
}